body {
    text-align: center;
}
#display_names {
    margin-top: 10px;
    margin-bottom: 10px;
}
#display_show_names {
    margin-top: 10px;
    margin-bottom: 10px;
}
#display_sort_names {
    margin-top: 10px;
    margin-bottom: 10px;
}
#display_search {
    margin-top: 10px;
    margin-bottom: 10px;
}